.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.43;
  background-color: $c-white;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.section-offset {
  margin-bottom: 130px;
}

.title {
  font-size: 35px;
  font-weight: 700;

  &.main__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  &.workflow__subtitle,
  &.contacts__title {
    font-size: 30px;
  }
}

.icon {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;

  &::before {
    content: '';
    min-width: 15px;
    height: 20px;
    background-color: $c-black;
    mask-image: url(../img/location.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color .3s;
  }

  &--location {
    &::before {
      mask-image: url(../img/location.svg);
    }
  }

  &--instagram {
    min-width: 20px;
    &::before {
      mask-image: url(../img/icon-insta.svg);
      min-width: 20px;
      height: 20px;
    }
  }

  &--youtube {
    min-width: 20px;
    &::before {
      mask-image: url(../img/icon-yt.svg);
      min-width: 26px;
      height: 26px;
    }
  }
}