.contacts {
  position: relative;
  background-color: #eef2ed;
  padding: 95px 40px 105px 80px;

  @include r($tablet) {
    padding: 70px 55px;;
  }

  &__wrapper {
    @include r($tablet-2) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    max-width: 130px;

    @include r($tablet-2) {
      max-width: 100%;
      display: flex;
      gap: 50px;
    }

    @include r($tablet) {
      flex-direction: column;
      gap: 0;
      margin-bottom: 50px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;

      @include r($tablet) {
        margin-bottom: 30px;
      }
    }

  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 15px;
    margin-bottom: 10px;

    &--social {
      margin-bottom: 2px;
    }
  }

  &__social {
    display: flex;
    gap: 6px;
  }

  &__social-link {
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    margin-left: -40px;
    max-width: 280px;

    @include r($tablet-2) {
      margin-left: 0;
      max-width: 570px;
      margin-bottom: 50px;
    }

    p {
      font-size: 16px;
      line-height: 1.28;
    }
  }

  &__text-title {
    font-size: 25px;
    margin-bottom: 14px;
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 300px;
    width: 100%;
    min-height: 370px;
    background-position: center right;
    margin-top: -100px;

    @include r($tablet-2) {
      margin-top: 0;
      max-width: 570px;
      width: 100%;
      min-height: 424px;
      background-position: center;
    }
  }
}